  .div0 {
    background: red;
    height: 25px;
    /* width: 2%; */
    float: left;
    cursor: pointer;
  }

  .div1 {
    background: yellow;
    height: 25px;
    /* width: 17%; */
    float: left;
    cursor: pointer;
  }

  .div2 {
    background: green;
    height: 25px;
    /* width: 40%; */
    float: left;
    cursor: pointer;
  }

  .div3 {
    background: blue;
    height: 25px;
    /* width: 40%; */
    float: left;
    cursor: pointer;
  }

  .div4 {
    background: black;
    height: 25px;
    /* width: 1%; */
    float: left;
    cursor: pointer;
  }

  #hover-content {
    display:none;
}
  #parent:hover #hover-content {
    display:block;
}