.div0 {
    background: red;
    height: 20px;
    width: 2%;
    float: left;
  }

  .div1 {
    background: yellow;
    height: 20px;
    width: 17%;
    float: left;
  }

  .div2 {
    background: green;
    height: 20px;
    width: 40%;
    float: left;
  }

  .div3 {
    background: blue;
    height: 20px;
    width: 40%;
    float: left;
  }

  .div4 {
    background: black;
    height: 20px;
    width: 1%;
    float: left;
  }