<div class="row ">
  <div class="col-12">
    <div class="list-group">

      <a class="list-group-item list-group-item-action active bg-dark" href="" routerLink="/">Home</a>
      <a class="list-group-item list-group-item-action" href="" routerLink="/bar">BarChart</a>
      <a class="list-group-item list-group-item-action" href="" routerLink="/line">LineChart</a>
      <a class="list-group-item list-group-item-action" href="" routerLink="/pie">PieChart</a>
      <a class="list-group-item list-group-item-action" href="" routerLink="/timeLine">PieChart</a>


    </div>

  </div>
</div>
